# Node modules
node_modules/

# Environment files
.env
.env.local

# Playwright outputs
test-results/
playwright-report/
blob-report/
playwright/.cache/

# Allure reports
allure-results/
allure-report/

# Logs
*.log
